DATABASE_NAME="IGL_db"
DATABASE_USER="root"
DATABASE_PASSWORD="root"
DATABASE_HOST="0.0.0.0"
DATABASE_PORT=3306
CLOUD_NAME="do8xskw0g",      
API_KEY="755734193398282",    
API_SECRET="R4MVoGBxIGx_aNXZXrb_Iogwq6Y",  